<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>在吗-帖子详情</title>
<meta name="keywords" content="在吗">
<meta name="description" content="在吗-帖子详情">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no, email=no">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="stylesheet" href="__static__/assets/css/reset.css?t=<?php echo time();?>"/>
<link rel="stylesheet" href="__static__/assets/css/v2.css?t=<?php echo time();?>"/>
<script type="text/javascript" src="__static__/assets/js/jquery-3.2.1.min.js?t=<?php echo time();?>"></script>
<script type="text/javascript" src="__static__/assets/js/app.js?t=<?php echo time();?>"></script>
</head>
<body class="posts">
    <!-- 标题 -->
    <h2>{$title}</h2>
    <!-- 用户信息 -->
    <div class="posts_user">
        <div><img src="{$created_user['avatar']}"></div>    
        <div>
            <span>{$created_user['nick_name']}</span>
            <span>{$created_at|date='Y-m-d H:i:s', ###}</span>
        </div>
        <span class="gz_btn">关注</span>
    </div>
    <!--  内容 -->
    <div class="content">{$content} </div>
    <!-- 点赞 -->
    <div class="like">
        {volist name="like_user" id="vo" length='6'}
            <img src="{$vo['avatar']}">
        {/volist}
        {gt name='like_count' value="0"}
            共{$like_count}个赞
        {/gt}
    </div>
    <!-- 分隔线 -->
    <div class="fenge"></div>
    <!-- 评论列表 -->
    <div class="comments">
        <h2>评论列表</h2>
        <ul>
        {volist name="comments" id="vo"}
            <li>
                <!-- 用户信息 -->
                <div class="posts_user">
                    <div><img src="{$vo['created_user']['avatar']}"></div>    
                    <div>
                        <span>{$vo['created_user']['nick_name']}</span>
                        <span>{$vo['created_at']|date='Y-m-d H:i:s', ###}</span>
                    </div>
                    <span class="like_btn">{$vo['like_count']}</span>
                </div>
                <div class="content">
                    <!-- 楼层 -->
                        <ul>
                            {volist name="vo['floor']" id="v"}
                                <li>
                                    <!-- 用户信息 -->
                                    <div class="user">
                                        <em>{$v['created_user']['nick_name']}</em>
                                        <span class="like_btn">{$v['like_count']}</span>
                                        <div class="content">{$v['content']} <em>{$v['floor']}</em> </div>
                                    </div>
                                </li>
                            {/volist}
                        </ul>
                    <!-- 内容 -->
                    {$vo['content']}
                </div>
            </li>
        {/volist}
        {empty name="comments"}
            <li>暂无评论</li>
        {/empty}
        </ul>
    </div>
    <!-- 间隔 -->
    <footer></footer>
    <!-- 底部下载 -->
    <section class="download">
        <div class='relative'>
            <a href='javascript:;' class='icon'></a>
            <section>
                <h3>在吗</h3>
                <p>线下交友APP</p>
            </section>
            <a href='javascript:;' class='btn'>免费下载</a>
        </div>
    </section>

</body>
</html>
