<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>在吗-活动详情</title>
<meta name="keywords" content="在吗">
<meta name="description" content="在吗-活动详情">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no, email=no">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="stylesheet" href="__static__/assets/css/reset.css?t=<?php echo time();?>"/>
<link rel="stylesheet" href="__static__/assets/css/v2.css?t=<?php echo time();?>"/>
<script type="text/javascript" src="__static__/assets/js/jquery-3.2.1.min.js?t=<?php echo time();?>"></script>
<script type="text/javascript" src="__static__/assets/js/app.js?t=<?php echo time();?>"></script>
</head>
<body class="ads">
    <h2>{$title}</h2>
    <div class="content">{$content}</div>
    <!-- 间隔 -->
    <!-- <footer></footer> -->
    <!-- 底部下载 -->
<!--     <section class="download">
        <div class='relative'>
            <a href='javascript:;' class='icon'></a>
            <section>
                <h3>在吗</h3>
                <p>线下交友APP</p>
            </section>
            <a href='javascript:;' class='btn' id="download">免费下载</a>
        </div>
    </section>
 --></body>
</html>
