<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{$title}</title>
<meta name="keywords" content="在吗">
<meta name="description" content="在吗-服务详情">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no, email=no">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="stylesheet" href="__static__/assets/css/reset.css?t=<?php echo time();?>"/>
<link rel="stylesheet" href="__static__/assets/css/v2.css?t=<?php echo time();?>"/>
<script type="text/javascript" src="__static__/assets/js/jquery-3.2.1.min.js?t=<?php echo time();?>"></script>
<script type="text/javascript" src="__static__/assets/js/app.js?t=<?php echo time();?>"></script>
</head>
<body class="demand">
    <!-- 背景 头像 -->
    <section class="top">
        <div class="bg">
            <img src="{$attaches['0']}" class="bg" />      
        </div>
        <div class="title">
            <h2>{$title}</h2>
            <em><?php echo date('Y-m-d H:i', $created_at);?>发布</em>
        </div>
        <span class="sounds">下载APP还可以发语音哦</span>
        <div id="card">
            <div class="avatar">
                <img src="{$avatar}">    
            </div>
            <div class="info">
                <span class="nick_name"><em>{$nick_name}</em><em class="age"><?php if($sex == 1) {echo '男';} else echo '女';?>&nbsp;{$age}</em></span>
                <span class="distince"><img src="__static__/assets/images/icon/distince.png">500m</span>    
            </div>
        </div>
    </section>

    <!-- 邀约简介 -->
    <section class="intro2">
       <ul>
           <li><img src="__static__/assets/images/icon/gender.png">对象：<?php if($gender == 1){ echo '仅限男士';}else if($gender == 2){ echo '仅限女士';} else{ echo '不限';} ?></li>
           <li><img src="__static__/assets/images/icon/pay.png">买单：<?php if($pay_way == 1){ echo 'AA';}else if($pay_way == 2){ echo '我买单';} else{ echo '你买单';} ?></li>
           <li><img src="__static__/assets/images/icon/time.png">时间：{$time['date_time']}</li>
           <li><img src="__static__/assets/images/icon/address.png">地点：{$address}</li>
           <li><img src="__static__/assets/images/icon/intro.png">说明：{$intro}</li>
       </ul>
    </section>
    <footer></footer>
    <!-- 底部下载 -->
    <section class="download">
        <div class='relative'>
            <a href='javascript:;' class='icon'></a>
            <section class='intro'>
                <h3>在吗</h3>
                <p>线下交友APP</p>
            </section>
            <a href='javascript:;' class='btn'>我想参加</a>
        </div>
    </section>
</body>
</html>
