{include file='common/header' /}
<!--_header 作为公共模版分离出去-->
{include file='common/nav_top' /}
<!--/_header 作为公共模版分离出去-->
<!--_menu 作为公共模版分离出去-->
{include file='common/menu_left' /}
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<!--/_menu 作为公共模版分离出去-->
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 圈子管理 <span class="c-gray en">&gt;</span> 圈子列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="Hui-article">
        <div>
            <div class="pd-20">
                <form method="GET" action="{:url('Circle/lists')}">
                    <div class="text-c"> 圈子状态：
                        <span class="select-box" style="width:100px">
                            <select class="select" name="status" size="1">
                                <option value="0">全部</option>
                                <option value="1" {eq name="@$_GET['status']" value="1"} selected="selected" {/eq}>开启</option>
                                <option value="2" {eq name="@$_GET['status']" value="2"} selected="selected" {/eq}>关闭</option>
                            </select>
                        </span>
                        <button class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
                    </div>
                </form>
                <div class="cl pd-5 bg-1 bk-gray mt-20"> 
                    <span class="l"> <a class="btn btn-primary radius" onclick="circle_add(0)" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加圈子</a></span>
                    <span class="r">共有数据：<strong>{$count}</strong> 条</span> </div>
                <div class="mt-20">
                    <table class="table table-border table-bordered table-bg table-hover table-sort">
                        <thead>
                            <tr class="text-c">
                                <th width="40"><input name="" type="checkbox" value=""></th>
                                <th width="40">ID</th>
                                <th width="100">圈子LOGO</th>
                                <th width="100">圈子名称</th>
                                <th width="100">圈子简介</th>
                                <th width="100">圈子规则</th>
                                <th width="60">状态</th>
                                <th width="100">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {volist name='lists' id='vo'}
                            <tr class="text-c va-m">
                                <td><input name="" type="checkbox" value="{$vo['circle_id']}"></td>
                                <td>{$vo['circle_id']}</td>
                                <td class="text-l"><img src="{$vo['logo']}" style="width: 100px;height: 100px;"></td>
                                <td>{$vo['title']}</td>
                                <td class="text-l">{$vo['intro']|truncate_utf8_string=###, 36}</td>
                                <td class="text-l">{$vo['rule']|truncate_utf8_string=###, 36}</td>
                                <td class="td-status">
                                    {switch name="$vo['status']"}
                                        {case value="1"}<span class="label label-success radius">开启</span>{/case}
                                        {case value="2"}<span class="label label-danger radius">关闭</span>{/case}
                                        {default /}
                                    {/switch}
                                </td>
                                <td class="td-manage">
                                    {eq name="$vo['status']" value="1"}<a class="ml-5" onClick="audit({$vo['circle_id']},2)" href="javascript:;" title="关闭">关闭</a>{/eq}
                                    {eq name="$vo['status']" value="2"}<a class="ml-5" onClick="audit({$vo['circle_id']},1)" href="javascript:;" title="开启">开启</a>{/eq}
                                    <a class="ml-5" onClick="circle_add({$vo['circle_id']},1)" href="javascript:;" title="编辑">编辑</a>
                                </td>
                            </tr>
                            {/volist}
                            {empty name="lists"}<tr><td colspan="8" style="text-align: center;">暂无数据</td></tr>{/empty}
                        </tbody>
                    </table>
                    {$page}
                </div>
            </div>
        </div>

    </div>
</section>
<script type="text/javascript">
// 添加圈子
var circle_add = function(circle_id){
    var url = '<?php echo url("Circle/circle_add")?>?circle_id='+circle_id;
    var index = layer.open({
        type: 2,
        title: circle_id ? '编辑圈子':'添加圈子',
        content: url
    });
    layer.full(index);
}

// 审核话题
var audit = function(id, status){
    if(status == 1){
        var tips = '确定开启此圈子？';
    }else{
        var tips = '确定关闭此圈子？';
    }
    layer.confirm(tips, {icon: 3, title:'提示'}, function(index){
      // 操作按钮
        ajax({
            url: "<?php echo url('Circle/audit_circle');?>", 
            data: {'id':id, 'status':status}, 
            type:'POST',
            success: function(res){
                if(res.code == 1){
                    layer.msg(res.message, {icon:6,time:1000});
                    location.href = '<?php echo url("Circle/lists");?>?page='+'<?php echo @$_REQUEST["page"]?>';
                }else{
                    layer.msg(res.message, {icon:5,time:1000});
                }
            }
        });
        layer.close(index);
    });
}
</script>
{include file='common/footer' /}