<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>支持与帮助</title>
<meta name="keywords" content="在吗">
<meta name="description" content="在吗-支持与帮助">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no, email=no">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="stylesheet" href="__static__/assets/css/reset.css?t=<?php echo time();?>"/>
<link rel="stylesheet" href="__static__/assets/css/user.css?t=<?php echo time();?>"/>
</head>
<body>
	<section class="user_help">
		<h2>用户支持与帮助</h2>
		<p>1、用户注册成功后，简书将给予每个用户一个用户帐号及相应的密码，该用户帐号和密码由用户负责保管；用户应当对以其用户帐号进行的所有活动和事件负法律责任。</p>
		<p>
			2、用户须对在简书的注册信息的真实性、合法性、有效性承担全部责任，用户不得冒充他人；不得利用他人的名义发布任何信息；不得恶意使用注册帐号导致其他用户误认； 任何机构或个人注册和使用的互联网用户账号名称，不得有下列情形：
		</p>
		<p>（一）违反宪法或法律法规规定的；</p>
		<p>（二）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p>
		<p>（三）损害国家荣誉和利益的，损害公共利益的；</p>
		<p>（四）煽动民族仇恨、民族歧视，破坏民族团结的；</p>
		<p>（五）破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
		<p>（六）散布谣言，扰乱社会秩序，破坏社会稳定的；</p>
		<p>（七）散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</p>
		<p>（八）侮辱或者诽谤他人，侵害他人合法权益的；</p>
		<p>（九）含有法律、行政法规禁止的其他内容的。</p>
		
	</section>
</body>
</html>
