{include file='common/header' /}
<!--_header 作为公共模版分离出去-->
{include file='common/nav_top' /}
<!--/_header 作为公共模版分离出去-->
<!--_menu 作为公共模版分离出去-->
{include file='common/menu_left' /}
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<!--/_menu 作为公共模版分离出去-->
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 服务管理 <span class="c-gray en">&gt;</span> 服务列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="Hui-article">
        <div>
            <div class="pd-20">
                <form method="GET" action="{:url('Service/lists')}">
                    <div class="text-c"> 服务状态：
                        <span class="select-box" style="width:100px">
                            <select class="select" name="status" size="1">
                                <option value="0" {eq name="@$_GET['status']" value="0"} selected="selected" {/eq}>全部</option>
                                <option value="2" {eq name="@$_GET['status']" value="2"} selected="selected" {/eq}>待审核</option>
                                <option value="1" {eq name="@$_GET['status']" value="1"} selected="selected" {/eq}>审核通过</option>
                                <option value="4" {eq name="@$_GET['status']" value="4"} selected="selected" {/eq}>审核拒绝</option>
                                <option value="3" {eq name="@$_GET['status']" value="3"} selected="selected" {/eq}>已关闭</option>
                            </select>
                        </span>
                        服务名称：
                        <span style="width:150px">
                            <input type="text" placeholder="服务名称" style="width:150px" class="input-text" name="key" value="{$_GET['key']|default=''}">
                        </span>
                        <button class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
                    </div>
                </form>
                <div class="cl pd-5 bg-1 bk-gray mt-20"> 
                    <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量审核</a> <!-- <a class="btn btn-primary radius" onclick="product_add('添加产品','product-add.html')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加产品</a> --></span>
                    <span class="r">共有数据：<strong>{$count}</strong> 条</span> </div>
                <div class="mt-20">
                    <table class="table table-border table-bordered table-bg table-hover table-sort">
                        <thead>
                            <tr class="text-c">
                                <th width="40"><input name="" type="checkbox" value=""></th>
                                <th width="40">ID</th>
                                <th width="100">服务名称</th>
                                <th width="200">描述</th>
                                <th width="60">状态</th>
                                <th width="100">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {volist name='lists' id='vo'}
                            <tr class="text-c va-m">
                                <td><input name="" type="checkbox" value="{$vo['id']}"></td>
                                <td>{$vo['id']}</td>
                                <td class="text-l">{$vo['title']}</td>
                                <td class="text-l">{$vo['intro']|truncate_utf8_string=###,36}</td>
                                <td class="td-status">
                                    {switch name="$vo['status']"}
                                        {case value="1"}<span class="label label-success radius">审核通过</span>{/case}
                                        {case value="2"}<span class="label label-danger radius">待审核</span>{/case}
                                        {case value="3"}<span class="label disabled radius">已关闭</span>{/case}
                                        {case value="4"}<span class="label label-warning radius">已拒绝</span>{/case}
                                        {default /}
                                    {/switch}
                                </td>
                                <td class="td-manage">
                                    <!-- <a style="text-decoration:none" onClick="product_stop(this,'10001')" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>  -->
                                    <!-- <a style="text-decoration:none" class="ml-5" onClick="product_edit('产品编辑','product-add.html','10001')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a>  -->
                                    <a class="ml-5" onClick="detail({$vo['id']})" href="javascript:;" title="审核">详情</a>
                                    <!-- <a class="ml-5" onClick="del({$vo['id']})" href="javascript:;" title="删除"><i class="Hui-iconfont">删除</i></a> -->
                                </td>
                            </tr>
                            {/volist}
                            {empty name="lists"}<tr><td colspan="6" style="text-align: center;">暂无数据</td></tr>{/empty}
                        </tbody>
                    </table>
                    {$page}
                </div>
            </div>
        </div>

    </div>
</section>
<script type="text/javascript">
    var detail = function(id){
        var url = '<?php echo url("Service/detail")?>'+'?id='+id+'&page='+'<?php echo @$_REQUEST["page"]?>';
        var index = layer.open({
            type: 2,
            title: '服务详情',
            content: url
        });
        layer.full(index);
    }
</script>
{include file='common/footer' /}
