<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{$title}</title>
<meta name="keywords" content="在吗">
<meta name="description" content="在吗-服务详情">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no, email=no">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="stylesheet" href="__static__/assets/css/reset.css?t=<?php echo time();?>"/>
<link rel="stylesheet" href="__static__/assets/css/v2.css?t=<?php echo time();?>"/>
</head>
<body class="service">
    <!-- 背景 头像 -->
    <section class="top">
        <div class="bg">
            <img src="{$attaches['0']}" class="bg" />      
        </div>
        <div id="card">
            <div class="avatar">
                <img src="{$avatar}">    
            </div>
            <div class="info">
                <span class="nick_name"><em>{$nick_name}</em><em class="age"><?php if($sex == 1) {echo '男';} else echo '女';?>&nbsp;{$age}</em></span>
                <span class="distince"><img src="__static__/assets/images/icon/distince.png">500m</span>
            </div>
        </div>
    </section>

    <!-- 服务说明 -->
    <section class="intro">
        <h2>{$title}</h2>
        <!-- 时间 -->
        <?php foreach($times as $k => $v):?>
            <?php if(in_array($v['configs_id'], $time_id)):?>
                <span class="times"><?php echo $v['value'];?></span>
            <?php endif;?>
        <?php endforeach;?>
        <!-- 分类 -->
        <?php foreach($category as $k => $v):?>
            <?php if(in_array($k, $category_id)):?>
              <span class="categorys">{$v.value}</span>
            <?php else:?>
              <span class="categorys">{$v.value}</span>
            <?php endif;?>
        <?php endforeach;?>
    </section>
    <!-- 服务范围 -->
    <section class="intro2">
        <h2>服务介绍</h2>
        <span class="sounds">下载APP还可以发语音哦</span>
        <p>{$intro}</p>
    </section>
    <section class="tab_div"></section>
    <!-- 评论区 -->
    <section class="comments">
        <h2>服务评价（{$comment_count}）</h2>
        <?php foreach($comments as $k => $v):?>
            <ul>
                <li><img src="{$v['avatar']}"><em>{$v['nick_name']}</em><em class="times"><?php echo date('Y-m-d H:i', $v['created_at']);?></em></li>
                <li class="star_box">
                    <?php for($i = 0; $i < $v['star']; $i++ ){?>
                        <a href="javascript:void(0);" class="star2"></a>
                    <?php }?>
                    <?php for($i = 0; $i < (5-$v['star']); $i++){?>
                        <a href="javascript:void(0);" class="star1"></a>
                    <?php } ?>
                </li>
                <li class="content">{$v['content']}</li>
            </ul>
        <?php endforeach;?>
    </section>
    <!-- 间隔 -->
    <footer></footer>
    <!-- 底部下载 -->
    <section class="download">
        <div class='relative'>
            <a href='javascript:;' class='icon'></a>
            <section>
                <h3>在吗</h3>
                <p>线下交友APP</p>
            </section>
            <a href='javascript:;' class='btn'>马上约</a>
        </div>
    </section>
</body>
</html>
