<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>个人主页</title>
<meta name="keywords" content="在吗">
<meta name="description" content="在吗-个人主页">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no, email=no">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="stylesheet" href="__static__/assets/css/reset.css?t=<?php echo time();?>"/>
<link rel="stylesheet" href="__static__/assets/css/v2.css?t=<?php echo time();?>"/>
</head>
<body class="user">
    <!-- 背景 头像 -->
    <section class="top">
        <div class="bg">
            <img class="bg" src="{$user_bg}">
        </div>
        <div id="user_card">
            <img src="{$avatar}">    
            <div class="info">
                <span class="nick_name"><em>{$nick_name}</em><em class="age"><?php if($sex == 1) {echo '男';} else echo '女';?>&nbsp;{$age}</em></span>
                <span class="intro">{$intro}</span>
            </div>
            <!-- 关注 粉丝 聊天  -->
            <div class="data">
                <span><em>{$follow_count}</em><em>关注</em></span>
                <span><em>{$follower_count}</em><em>关注</em></span>
                <span class="follow">聊天</span>
                <span  class="chat">关注</span>
            </div>
        </div>
    </section>
    <!-- 服务 -->
    <section class="service">
        <div class="left">
            <span class="type">TA的服务</span>
            <span class="count">{$service_count}</span>
        </div>
        <div class="right">
            {if $service}
                <ul>
                    {volist name="service" id="vo"}
                        <li><img src="{$vo['attaches']['0']}"></li>
                    {/volist}
                </ul>
            {/if}
        </div>
    </section>
    <!-- 邀约 -->
    <section class="demand">
        <div class="left">
            <p class="type">TA的邀约</p>
            <p class="count">{$demand_count}</p>
        </div>
        <div class="right">
            {if $demand}
                <ul>
                    {volist name="demand" id="vo"}
                        <li><img src="{$vo['attaches']['0']}"></li>
                    {/volist}
                </ul>
            {/if}
        </div>
    </section>
    <!-- 资料 -->
    <section  class="demand">
        <div class="left">
            <p class="type">TA的资料</p>
            <p class="count">{$data_percent}</p>
        </div>
        <div class="info">
            <ul>
                <li><span>职业</span><span>{$occupation_txt}</span></li>
                <li><span>身高</span><span>{$height}cm</span></li>
                <li><span>体重</span><span>{$weight}kg</span></li>
                <li><span>常出没</span><span>{$hot_address}</span></li>
                <li><span>情感状态</span><span>{$marry_txt}</span></li>
            </ul>
        </div>
    </section>

    <!-- 标签 -->
    <section class="tags">
        <div class="left">
            <p class="type">TA的标签</p>
            <p class="count">{$tags_count}</p>
        </div>
        <div class="right">
            <ul>
                {volist name="tags" id="vo"}
                    <li>{$vo.value}</li>
                {/volist}
            </ul>
        </div>
    </section>
    <!-- 间隔 -->
    <footer></footer>
    <!-- 底部下载 -->
    <section class="download">
        <div class='relative'>
            <a href='javascript:;' class='icon'></a>
            <section>
                <h3>在吗</h3>
                <p>线下交友APP</p>
            </section>
            <a href='javascript:;' class='btn'>免费下载</a>
        </div>
    </section>
</body>
</html>
