{include file='common/header_css' /}
<link href="__static__/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="page-container">
    <form method="post" class="form form-horizontal" id="submit_form">
        <input type="hidden" name="uid" value="<?php if(isset($uid)) echo $uid; ?>">
        <input type="hidden" name="user_uniq" value="<?php if(isset($user_uniq)) echo $user_uniq; ?>">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>用户昵称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="<?php if(isset($nick_name)) echo $nick_name; ?>" placeholder="请输入用户昵称" name="nick_name">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>用户账号：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="<?php if(isset($login_name)) echo $login_name; ?>" placeholder="请输入用户账号" name="login_name">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>新密码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="password" class="input-text" value="" placeholder="请输入新密码" name="password">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>重复密码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="password" class="input-text" value="" placeholder="请输入复密码" name="repassword">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>状态：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="radio" id="status_1" name="status" value="1" <?php if(isset($status) && $status == 1 || !isset($status)) echo 'checked';?>>
                <label for="status_1">正常</label>
                <input type="radio" id="status_2" name="status" value="2" <?php if(isset($status) && $status == 2) echo 'checked';?>>
                <label for="status_2">禁用</label>
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button class="btn btn-secondary radius submit" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>
{include file='common/footer_js' /}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
var role = '<?php echo $role;?>';
$(function(){
    // 添加
    $('.submit').on('click', function(){
        do_add();
    });
});
// 添加圈子
var do_add = function(){
    // 操作按钮
    var obj = $('.submit');
    var _data = $('#submit_form').serialize();
    ajax({
        url: "<?php echo url('User/user_add');?>", 
        data: _data, 
        type:'POST',
        before_text : '保存',
        after_text : '保存中...',
        success: function(res){
            obj.prop('disabled',false).prop('value', '保存');
            if(res.code == 1){
                layer.msg(res.message, {icon:6,time:1000});
            }else{
                layer.msg(res.message, {icon:5,time:1000});
            }
            if(role == 1){
                parent.location.href = "<?php echo url('User/admin_lists');?>"; 
            }else{
                parent.location.href = "<?php echo url('User/user_lists');?>"; 
            }
            var index = parent.layer.getFrameIndex(window.name);  
            parent.layer.close(index); 
        },
        beforeSend:function(){
            obj.prop('disabled',true).prop('value', '保存中...');
        }
    }, obj);
}
</script>
</body>
</html>